@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap');

*{
    font-family: sans-serif;
    overflow-y: hidden;
}



body{
    margin: 0 30px;
    font-family: 'Poppins', sans-serif;
    background-color: #065b97;
    min-height: 100vh;
}

@media (max-width: 600px) {
    body{
        margin: 0 !important;
        min-height: 100vh;
        min-width: 100vh;
    }
    table{
        margin: 0 10px;
    }

    h1{
        margin: 20px 0 !important;
    }
    .main_tr td{
        font-size: 0.8rem !important;
    }

    h4{
        font-size: 1rem;
    }
}

a{
    font-size: 12px;
    text-decoration: none;
    color: #0077b6;
    font-weight: 500;
}

a:hover{
    font-size: 16px;
    font-weight: 600;
}

table{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 10px 0 50px 0;
    background-color: #fff;
    
}

h1{
    color: #f8edeb;
    margin: 5px 0;
    font-size: 30px;
}

.main_tr td{
    border: 1px solid rgb(255, 255, 255);
    font-size: 1.4rem;
    background-color: #14213d;
    color: bisque;
}

.red td{
    
    border: 1px solid black;
}

/* .red td:hover{
    background-color: #f1f1f1;
} */
.azfar{
    color: antiquewhite;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    position: relative;
    bottom: 30px;
}

h4{
    font-size: 1.4rem;
    margin: 0;
}


.highlight{
    background-color: #023e8a;
    animation: ChangeColor .8s linear infinite forwards;
}

/* @keyframes ChangeColor {
    0%{
        background-color: #ff6464;
    }
    50%{
        background-color: #ff9494;
    }
    100%{
        background-color: #ffdede;
    }
    
} */

.changeStyle{
    color: #f7f7f7;
    font-weight: 600;
    animation: scaleText 1s infinite linear forwards;
}

@keyframes scaleText {
    0%{
        color: #f7f7f7;
    }
    33%{
        transform: scale(1);
    }
    66%{
        color: #e5383b;
    }
    100%{
        transform: scale(0.98);
    }
    
}
